<header>
  <!-- TODO: add ejs output value through prevUrl to serve as "go back" href -->
  <a href="/">
    <span>go back</span>
    <img src="/images/back-icon.png" alt="" />
  </a>
  <h1><%= title %></h1>
</header>
