<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anon Club</title>
  </head>
  <body>
    <!-- // LANDING PAGE -->
    <div id="root">
      <header>
        <div>
          <img src="/images/anon-logo.png" alt="" />
        </div>
        <h1>Anon Club</h1>
      </header>
      <main>
        <% if (errors && errors.length > 0) { %>
        <span class="flash-error"><%= errors[0] %></span>
        <% } %>
        <ul>
          <li><a href="/login">log in</a></li>
          <li><a href="/register">register</a></li>
          <li><a href="/guest">guest</a></li>
        </ul>
        <div>
          <hr />
          <span>or</span>
          <hr />
        </div>
        <section>
          <h2>demo accounts</h2>
          <ul>
            <li><a href="/demo/admin">admin</a></li>
            <li><a href="/demo/member">member</a></li>
          </ul>
        </section>
      </main>
    </div>
  </body>
</html>
