<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
  </head>
  <body>
    <div id="root">
      <%- include("partials/header.ejs", {title: "membership"}) %>
      <main>
        <header>
          <p>Request to become a true anon clubhouse member</p>
        </header>
        <form action="/membership" method="post">
          <div>
            <label for="referral_code">Admin Referral Code:</label>
            <input type="password" name="referral_code" id="referral_code" />
          </div>
          <button type="submit">submit</button>
        </form>
      </main>
    </div>
  </body>
</html>
