<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swift River | Profile</title>
  </head>
  <body>
    <div id="root">
      <%- include("partials/header.ejs", {title: "profile"}) %>
      <main>
        <header>
          <div>SR</div>
          <!-- // avatar icon -->
          <h1>Swift-River-5689</h1>
        </header>
        <section>
          <div></div>
        </section>
      </main>
    </div>
  </body>
</html>
